{% extends 'ItcAdminBundle::layout.html.twig' %}
{% block menu %}
{% endblock %}
{% block body %}
{% block style %}
<style>

.hidden_loader {
       cursor: pointer;
    height: 60px;
    left: -10px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 10px;
    width: 80px;
    z-index: 5;
}
</style>
{% endblock %}
<form action="{{ path('videogallery_create', {'product_id': product_id}) }}" method="post" class="menu-items-form" {{ form_enctype(form) }}>
<div class="form-title form-title-ins">
        <div class="form-title-content">
                <i class="item-edit-icon"></i>
                <div class="item-controls">
                        <a href="#" class="save-item" title="Сохранить" onclick="$('.menu-items-form').submit()"></a>
                        <div class="clear"></div>
                </div>
                <span class="title">Создание галереи видео</span>
                <span></span>
                <div class="clear"></div>
        </div>
</div>
        <br />
<div class="menu-item-info">
       <div class="item-info">
                <label for="item-tag">Название</label>
                {{ form_widget( form.name ) }}
        </div>
</div>
<br />
{{ form_rest(form) }}
</form>
{% endblock %}