table.treeTableGroup {
    /*border: 1px solid #888888;*/
    border-collapse: collapse;
    line-height: 1;
    margin: 1em auto;
}
table.treeTableGroup caption {
    font-size: 0.9em;
    font-weight: bold;
}
table.treeTableGroup tbody tr td {
    cursor: default;
    padding: 0.4em 0 0 2em;
}
.input-append input[type="text"]{
    height: 30px;
    line-height: 30px;
}
.template_save input[type="text"]{
    height: 30px;
    line-height: 30px;
}
.form_attr input[type="text"]{
    height: 30px;
    line-height: 30px;
}
table.treeTableGroup{
    border-style: none !important;
}