{% extends 'ItcAdminBundle::layout.html.twig' %}
{% block menu %}
    {# скрываем меню #}
{% endblock %}
{% block body %}
<h1>Создание банера</h1>

<form action="{{ path('bannerimg_create', { 'parent_id': parent_id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('bannerimg') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}