<h1>Template\Attr creation</h1>

<form action="{{ path('attributs_create', { 'templid': templid }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('attributs', { 'templid': templid }) }}">
            Back to the list
        </a>
    </li>
</ul>
